{% extends 'base.html.twig' %}

{% block title %}search{% endblock %}

{% block  body %}
    <br>
    <form  method="get">
        <label for="reference">Réference: </label>
        <input type="text" name="" id="product_reference">
        <a href=""><button type="submit">recherche</button></a>
    </form>
    {% for product in products %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id: </th>
                <th scope="col">nom: </th>
                <th scope="col">Réference :</th>
                <th scope="col">Quantité :</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row">#{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.reference}}</td>
            <td>{{product.quantity}} <button type="button" class="btn btn-danger btn-sm">-</button></td>
            
        </tbody>
        <br><br>
    </table>
        
    {% endfor %}
{% endblock %}