<footer class="footer">
    <div class="d-flex justify-content-center">
        <span class="text-muted">
            <p class="navbar-text text-primary">© 2021 CIPPELLETTI Jean</p>
            <a href="{{path("user_notice")}}" style="color: blue; margin-left: 15%;" class="ml-25">Mention légales</a>
        </span>
    </div>
</footer>